@import "base";
@import "override";
@import '~unslider/dist/css/unslider.css';
@import '~unslider/dist/css/unslider-dots.css';

.wrap {
    width: 1000px;
    margin: 0 auto;
}
// 组件样式

.text {
    height: 24px;
    line-height: 24px;
    padding: 0 4px;
    color: $gray;
    background: $white;
    border: 1px solid $gray;
    border-radius: $radius;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;

    &:focus {
        border-color: $gray;
        box-shadow: 0 0 5px 0 $blue;
    }
}

.btn {
    background: $basic;
    border: none;
    color: $white;
    font-weight: 400;
    padding: 0 10px;
    height: 24px;
    line-height: 24px;
    border-radius: $radius;
    cursor: pointer;

    &.search {
        padding-left: 25px;
        background: $basic url('../img/icons/Search.png') 5px center no-repeat;

        &:hover {
            background: $base-dark url('../img/icons/Search.png') 5px center no-repeat;
        }
    }

    &:hover {
        background: $base-dark;
        transition: background ease-in-out .15s;
    }
}

i.icon {
    display: inline-block;
    vertical-align: middle;
    height: 16px;
    width: 16px;
    margin-right: 5px;

    &.arrange {
        background: url("../img/icons/Arrange.png");
    }

    &.column {
        background: url("../img/icons/Column.png");
    }

    &.front {
        background: url("../img/icons/Front.png");
    }

    &.list {
        background: url("../img/icons/List.png");
    }

    &.message {
        background: url("../img/icons/Message.png");
    }

    &.mic {
        background: url("../img/icons/Mic.png");
    }

    &.notes {
        background: url("../img/icons/Notes.png");
    }

    &.rightIcon {
        background: url("../img/icons/Right.png");
    }
}

a {
    transition: color ease-in-out .15s;

    &:hover {
        color: $orange;
    }
}

.list {
    li {
        line-height: 24px;
        height: 24px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        a {
            padding-left: 20px;
            background: url("../img/icons/059.gif") left center no-repeat;

            &:hover {
                background-image: url("../img/icons/055.gif");
            }

            &.new {
                background-image: url("../img/icons/new.gif");
                padding-left: 40px;
            }
        }
    }
    // 带日期的列表
    &.date {
        li {
            padding-right: 85px;

            .date-span {
                position: absolute;
                right: $gap;
                font-size: 12px;
            }
        }
    }

    &.block {
        li {
            height: 30px;
            line-height: 30px;
            padding: $gap;

            a {
                display: block;
                background: $basic;
                border: 1px solid $basic;
                color: $white;
                border-radius: $radius;
                padding-left: 10px;

                &:hover {
                    background: $base-dark;
                }
            }
        }
    }
}

.card {
    position: relative;
    min-height: 242px;
    word-wrap: break-word;
    border: 1px solid $gray;
    margin-bottom: $gap;
    background: $white;
    box-shadow: 3px 3px 3px #ccc;

    .card-body {
        padding: 10px;
    }
}

.card-head {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    color: $white;
    background: -webkit-linear-gradient(left, $basic ,$white);
    /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, $basic, $white);
    /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, $basic, $white);
    /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, $basic ,$white);
    /* 标准的语法 */
    span {
        padding-left: 25px;
        background: url("../img/icons/icon_board.png") left center no-repeat;
        font-weight: bold;
        padding-right: 30px;
    }

    .card-tool {
        float: right;
        color: $black;

        &:hover {
            color: $orange;
        }
    }
}
// 布局样式

.banner {
    width: 790px;
    height: 80px;
    margin-bottom: 10px;
    background-size: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    clear: both;
}

.banner1 {
    background-image: url("../img/banner1.jpg");
}

.banner2 {
    background-image: url("../img/banner2.jpg");
}

.banner3 {
    background-image: url("../img/banner3.jpg");
}

.header {
    .top-banner {
        height: 150px;
        background: $basic url('../img/top.jpg') center no-repeat;
    }

    .menu {
        height: 45px;
        line-height: 45px;

        li {
            float: left;
            width: 14.2857%;
            text-align: center;

            a {
                background: $basic;
                color: $white;
                display: block;
                font-size: 16px;

                &.active,
                &:hover {
                    background: $base-dark;
                    color: $white;
                    transition: background .15s ease-in-out, color .15s ease-in-out;
                }
            }
        }
    }

    .search-bar {
        height: 34px;
        line-height: 34px;
        padding: 0 20px;
        border: 1px solid $basic;
        border-top: none;
        background: $white;

        .text {
            width: 100px;
        }
    }
}

.body {
    padding: $gap 0;
}

.main {
    width: 800px;
    float: left;

    .card {
        width: 390px;
        float: left;
        margin-right: 8px;
    }
}

.side {
    width: 200px;
    float: right;
}

.top-box {
    border: 1px solid #ccc;
    padding: $gap $gap 0;
    margin-bottom: 15px;
    background-color: $white;
    box-shadow: 3px 3px 3px #ccc;

    .card {
        box-shadow: none;
    }

    .news-more {
        line-height: 38px;
    }
}

.carousel {
    height: 360px;

    li {
        height: 360px;
        text-align: center;

        .helper {
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.news-card {
    height: 360px;
    width: 340px;
    float: right;
}
// 留言板

.msg-board {
    .btn {
        margin-top: $gap;
    }
}
// 图片新闻卡片

.card-carousel {
    padding: 30px 4px;
}

.my-card {
    background: $white;
    box-shadow: 3px 3px 3px #ccc;
    border: 1px solid #ccc;
    display: inline-block;
    margin: 0 49px;

    img {
        width: 220px;
        height: 140px;
        overflow: hidden;
    }

    .my-body {
        padding: 10px 20px;
    }

    p {
        line-height: 24px;
        width: 180px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.expand-img {
    cursor: pointer;
    transition: .3s;

    &:hover {
        opacity: .7;
    }
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0,0,0);
    /* Fallback color */
    background-color: rgba(0,0,0,0.9);
    /* Black w/ opacity */
}

.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    font-style: normal;
    transition: .3s;
}

.close:focus,
.close:hover {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.footer {
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin-top: 30px;
}
// 列表页

.news-list {
    padding: 0 20px;

    &.list.date li .date-span {
        right: 30px;
    }
}

.pagination {
    text-align: right;
    padding: 30px 20px 10px;
}

.page-btn {
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #DB2828;
    background: #fff;
    color: #DB2828;
    cursor: pointer;
    text-align: center;
    transition: color ease-in-out .15s, background ease-in-out .15s;
    border-radius: 3px;

    &:hover {
        background: #DB2828;
        color: #fff;
    }
}

.news-box {
    padding: 0 80px;
}

.news-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: 20px;
}

.news-detail {
    text-align: right;
}

.news-img img {
    margin: 30px auto;
    display: block;
    width: 600px;
}

.news-text {
    width: 100%;
    line-height: 24px;
    font-size: 16px;
    white-space: pre-wrap;
}

.images-list {
    margin: 10px 0;

    .my-card {
        margin: 23px;
        text-align: center;
    }
}

.full-image img {
    width: 100%;
    clear: both;
    margin: 20px 0;
}

.admin-line {
    line-height: 30px;
    background: #fff;
    text-align: right;
    padding: 0 20px;
    background: #DB2828;

    .admin-link {
        color: #fff;

        &:hover {
            text-decoration: underline;
        }
    }
}
