@import "base";

// unslider样式重写
.unslider {
    width: 790px;
    background: $black;
    margin-bottom: $gap;
    overflow-x: hidden;
}
.unslider-nav {
    padding: 20px;
    ol {
        text-align: right;
        li {
            text-indent: 9999px;
        }
    }
}
